In [1]:
import pandas as pd
import sys
sys.path.append(r"E:\OneDrive\Career\Coding\Python\007 - Engineering Request - MJ - India")

In [2]:
df = pd.read_excel("4B^MG^M15_R32_SS_R8_Column Forces Extraction_1.xlsx")
df.head()

,Story,Column,Unique Name,Load Case/Combo,Station,P,V2,V3,T,M2,M3,Element,Element Station,Location
0,Terrace Floor,C25,3332,18_1.5DL+1.5LL,0.00,-306.5713,109.1887,55.0405,-0.0513,-15.4339,443.0101,3332,0.00,NaN
1,Terrace Floor,C25,3332,18_1.5DL+1.5LL,1.25,-259.6963,109.1887,55.0405,-0.0513,-84.2279,306.4892,3332,1.25,NaN
2,Terrace Floor,C25,3332,18_1.5DL+1.5LL,2.50,-212.8213,109.1887,55.0405,-0.0513,-153.0128,169.9351,3332,2.50,NaN
3,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,0.00,-198.9624,202.0818,133.7974,2.3599,201.9435,427.7192,3332,0.00,NaN
4,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,1.25,-152.0874,202.0818,133.7974,2.3599,37.3570,280.7025,3332,1.25,NaN

In [3]:
df["P"] = df["P"].abs()
df.head()

,Story,Column,Unique Name,Load Case/Combo,Station,P,V2,V3,T,M2,M3,Element,Element Station,Location
0,Terrace Floor,C25,3332,18_1.5DL+1.5LL,0.00,306.5713,109.1887,55.0405,-0.0513,-15.4339,443.0101,3332,0.00,NaN
1,Terrace Floor,C25,3332,18_1.5DL+1.5LL,1.25,259.6963,109.1887,55.0405,-0.0513,-84.2279,306.4892,3332,1.25,NaN
2,Terrace Floor,C25,3332,18_1.5DL+1.5LL,2.50,212.8213,109.1887,55.0405,-0.0513,-153.0128,169.9351,3332,2.50,NaN
3,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,0.00,198.9624,202.0818,133.7974,2.3599,201.9435,427.7192,3332,0.00,NaN
4,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,1.25,152.0874,202.0818,133.7974,2.3599,37.3570,280.7025,3332,1.25,NaN

In [4]:
df["Key"] = df["Story"] + df["Column"]
df

,Story,Column,Unique Name,Load Case/Combo,Station,P,V2,V3,T,M2,M3,Element,Element Station,Location,Key
0,Terrace Floor,C25,3332,18_1.5DL+1.5LL,0.00,306.5713,109.1887,55.0405,-0.0513,-15.4339,443.0101,3332,0.00,NaN,Terrace FloorC25
1,Terrace Floor,C25,3332,18_1.5DL+1.5LL,1.25,259.6963,109.1887,55.0405,-0.0513,-84.2279,306.4892,3332,1.25,NaN,Terrace FloorC25
2,Terrace Floor,C25,3332,18_1.5DL+1.5LL,2.50,212.8213,109.1887,55.0405,-0.0513,-153.0128,169.9351,3332,2.50,NaN,Terrace FloorC25
3,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,0.00,198.9624,202.0818,133.7974,2.3599,201.9435,427.7192,3332,0.00,NaN,Terrace FloorC25
4,Terrace Floor,C25,3332,19_1.5DL+1.5SPECX Max,1.25,152.0874,202.0818,133.7974,2.3599,37.3570,280.7025,3332,1.25,NaN,Terrace FloorC25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88520,B3,C68,1878,30_0.9DL-1.5SPECY Max,1.75,3291.9975,-4.9886,-22.4247,0.0000,75.5117,38.0383,1878,1.75,NaN,B3C68
88521,B3,C68,1878,30_0.9DL-1.5SPECY Max,3.50,3268.3725,-4.9886,-22.4247,0.0000,148.9306,75.6953,1878,3.50,NaN,B3C68
88522,B3,C68,1878,30_0.9DL-1.5SPECY Min,0.00,3380.3013,-21.2060,-40.9419,0.0000,0.0000,0.0000,1878,0.00,NaN,B3C68
88523,B3,C68,1878,30_0.9DL-1.5SPECY Min,1.75,3356.6763,-21.2060,-40.9419,0.0000,37.8066,8.1753,1878,1.75,NaN,B3C68
88524,B3,C68,1878,30_0.9DL-1.5SPECY Min,3.50,3333.0513,-21.2060,-40.9419,0.0000,74.5653,16.2686,1878,3.50,NaN,B3C68

In [5]:
maxx = df.groupby("Key").P.idxmax()
maxx

Key
10th FloorC1        22275
10th FloorC10       21225
10th FloorC11       21300
10th FloorC110      24975
10th FloorC12       21375
                    ...
Terrace FloorC62     2550
Terrace FloorC63     2625
Terrace FloorC64     2700
Terrace FloorC65     2775
Terrace FloorC67     2925
Name: P, Length: 1139, dtype: int64

In [6]:
minn = df.groupby("Key").P.idxmin()
minn

Key
10th FloorC1        22340
10th FloorC10       21278
10th FloorC11       21353
10th FloorC110      25040
10th FloorC12       21440
                    ...
Terrace FloorC62     2603
Terrace FloorC63     2678
Terrace FloorC64     2753
Terrace FloorC65     2828
Terrace FloorC67     2978
Name: P, Length: 1139, dtype: int64

In [7]:
df_max = df.loc[maxx]
df_max["max/min"] = "max"
df_min = df.loc[minn]
df_min["max/min"] = "min"

In [8]:
df_out = pd.concat([df_max,df_min])
df_out

,Story,Column,Unique Name,Load Case/Combo,Station,P,V2,V3,T,M2,M3,Element,Element Station,Location,Key,max/min
22275,10th Floor,C1,2530,18_1.5DL+1.5LL,0.0,9395.2854,-443.8790,-48.1193,-0.0650,-95.6748,-860.6802,2530,0.0,NaN,10th FloorC1,max
21225,10th Floor,C10,2516,18_1.5DL+1.5LL,0.0,8151.5771,-438.0161,103.6527,-0.0567,199.6688,-847.6917,2516,0.0,NaN,10th FloorC10,max
21300,10th Floor,C11,2517,18_1.5DL+1.5LL,0.0,12367.3561,-48.1905,-0.2247,-0.0600,-2.4151,-87.9214,2517,0.0,NaN,10th FloorC11,max
24975,10th Floor,C110,3467,18_1.5DL+1.5LL,0.0,8752.6924,-44.9206,-58.2006,-0.0333,-114.9568,-85.7392,3467,0.0,NaN,10th FloorC110,max
21375,10th Floor,C12,2518,18_1.5DL+1.5LL,0.0,12709.3034,5.6323,-0.0873,-0.0569,-2.4235,16.6612,2518,0.0,NaN,10th FloorC12,max
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2603,Terrace Floor,C62,3366,27_0.9DL+1.5SPECX Max,1.9,462.8444,984.3900,30.1806,0.4810,36.2398,891.5370,3366,1.9,NaN,Terrace FloorC62,min
2678,Terrace Floor,C63,3367,27_0.9DL+1.5SPECX Max,1.9,488.7788,1043.3523,13.3530,0.4740,16.0509,932.8879,3367,1.9,NaN,Terrace FloorC63,min
2753,Terrace Floor,C64,3368,27_0.9DL+1.5SPECX Max,1.9,481.4546,845.7159,11.0710,0.4856,13.1640,957.1522,3368,1.9,NaN,Terrace FloorC64,min
2828,Terrace Floor,C65,3369,27_0.9DL+1.5SPECX Max,1.9,445.1599,423.3042,-94.2155,0.5140,175.7053,513.2420,3369,1.9,NaN,Terrace FloorC65,min
2978,Terrace Floor,C67,3926,27_0.9DL+1.5SPECX Max,2.5,204.0210,175.5749,-6.8864,0.0266,15.7947,-74.3238,3926,2.5,NaN,Terrace FloorC67,min

In [9]:
df_out.to_excel("out.xlsx")